# Coverage files (data and html report)
.coverage
htmlcov/

# Build artifacts/caches
build/tests/.pytest_cache/
build/tests/.coverage # Coverage data inside tests
build/tests/htmlcov/  # Coverage HTML report inside tests

# Python cache
__pycache__/
*/__pycache__/
*/*/__pycache__/

# Local database for development
*.db

# IDE files
.vscode/
.idea/

